html, body {
    height: 100%;
}

.opening {
    z-index: 3;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: grey;
    top: 0px;
    animation-name: opening;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

@keyframes opening {
    0% {
        display: initial;
    }
    100% {
        display: none;
    }
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}

.logo:hover {
    transform: scale(1.1, 1.1);
}

.capture-fx {
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0;
    /* animation-name: capture-fx; */
    animation-duration: 100ms;
}

@keyframes capture-fx {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mainmenu-container {
    position: relative;
    /* background-color: yellow; */
    height: 100%;
}

.menu{
    position: absolute;
}

.materi {
    top: 100px;
    left: 0px;
}

.soal {
    bottom: 0px;
    left: 0px;
}

.simulasi {
    bottom: 0px;
    right: 0px;
}

.profil {
    right: 0px;
    top: 100px;
}

.label-menu {
    background-color: yellow;
    position: absolute;
    top: -2.5rem;
    width: 100%;
    text-align: center;
    opacity: 0;
}